<h3>View Order Details</h3>
<div>
  <div>
    <label><b>e-mail:</b></label> {{order.email}}
  </div>

  <div>
    <label><b>ISBN:</b></label> {{order.isbn}}
  </div>

  <div>
    <label><b>Quantity:</b></label> {{order.quantity}}
  </div>

  <div>
    <label><b>Price:</b></label> {{order.price}}
  </div>

  <div>
    <label><b>Completed:</b></label> {{order.completed}}
  </div>

  <div>
    <label><b>Created:</b></label> {{order.createdAt}}
  </div>

  <div>
    <label><b>Updated:</b></label> {{order.updatedAt}}
  </div>
</div>
