<h2>Configurations</h2>
<!--<div *ngFor="let service of configs | keyvalue">-->
<!--  <h3>{{service.key}}</h3>-->
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th class="text-center">Service ID</th>
      <th class="text-center">Config ID</th>
      <th class="text-center">CPU Load</th>
      <th class="text-center">RAM Load</th>
      <th class="text-center">Failure %</th>
      <th class="text-center">Setting</th>
      <th class="text-center">ON/OFF</th>
      <th class="text-center">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let config of configsArray">
      <td class="fw-bold text-start">{{config.serviceId}}</td>
      <td class="text-start">{{config.id}}</td>
      <td class="text-end">{{config.loadCPU}}</td>
      <td class="text-end">{{config.loadRAM}}</td>
      <td class="text-end">{{config.probabilityFailure}}</td>
      <td class="text-end">{{config.propertyStr}}</td>
      <td class="text-center">{{config.turnedOn ? 'ON' : 'OFF'}}</td>
      <td>
        <button (click) = "updateConfig(config.serviceId, config.id)" class="btn btn-info">Update</button>
        <button (click) = "toggleConfig(config)" class="btn btn-secondary" style="margin-left: 10px">{{config.turnedOn ? 'ON' : 'OFF'}}</button>
      </td>
    </tr>
    </tbody>
  </table>
  <br>
<!--</div>-->


<br>
<hr>
<a routerLink="/create-config" routerLinkActive="active" class="btn btn-primary">New Config</a>
<!--<button (click) = "deleteAllClients()" class="btn btn-danger" style="margin-left: 10px">Delete All</button>-->
