apiVersion: apps/v1
kind: Deployment
metadata:
  name: carts
  namespace: bookstore
  labels:
    app: carts
spec:
  replicas: 1
  selector:
    matchLabels:
      app: carts
  template:
    metadata:
      annotations:
        metrics.dynatrace.com/path: /stats/prometheus
        metrics.dynatrace.com/port: "15020"
        metrics.dynatrace.com/scrape: "true"
        metrics.dynatrace.com/secure: "false"
      namespace: bookstore
      labels:
        app: carts
        app.kubernetes.io/version: 1.7.3
        app.kubernetes.io/part-of: BookStore
    spec:
      containers:
        - name: carts
          image: ghcr.io/ihudak/carts-{AGENT}:{FLAVOR}
          ports:
            - containerPort: 8080
            - containerPort: 5005
          envFrom:
            - configMapRef:
                name: bookstore-configmap
            - secretRef:
                name: bookstore-secret
          env:
            - name: DT_RELEASE_VERSION
              valueFrom:
                fieldRef:
                  fieldPath: metadata.labels['app.kubernetes.io/version']
            - name: DT_RELEASE_BUILD_VERSION
              value: "2025-08-04-15:38:43"
            - name: DT_MYSQL_DBNAME
              value: dt_books_carts # DB NAME HERE
            - name: DT_PG_DBNAME
              value: none # DB NAME HERE
            - name:   AGENT
              valueFrom:
                configMapKeyRef:
                  name: bookstore-agents-configmap
                  key: carts_agent
            - name: SERVICE_NAME
              value: Carts
            - name: SERVICE_FULL_NAME
              value: "$(APP_NAME).$(SERVICE_NAME).$(SVC_SUFFIX)"
            - name: DT_TAGS
              value: "BookStore MicroService=BookStore.Carts"
            - name: DT_CUSTOM_PROP
              value: "custom.app.name=BookStore,custom.microservice.name=carts"
            - name: OTEL_RESOURCE_ATTRIBUTES
              value: "dt.security_circle=$(SECURITY_CIRCLE),dt.management_zone=$(MANAGEMENT_ZONE),dt.owner_team=$(OWNER_TEAM),dt.owner=$(OWNER),dt.cost.costcenter=$(COST_CENTER),dt.cost.product=$(COST_PRODUCT),my.resource.attribute=$(GIT_REPO)"
            - name: DT_SERVICE_NAME
              value: CartController
            - name: DT_HOST_NAME_PREFIX
              value: carts
            - name: JAVA_TOOL_OPTIONS
              value: "-Xmx512m"
          resources:
            limits:
              cpu: 400m
              memory: 768Mi
            requests:
              cpu: 400m
              memory: 768Mi
---
apiVersion: v1
kind: Service
metadata:
  name: carts-svc
  namespace: bookstore
spec:
  selector:
    app: carts
  type: LoadBalancer # ClusterIP
  ports:
    - name: http
      port: 83
      protocol: TCP
      targetPort: 8080
      nodePort: 30003 # comment if ClusterIP
    - name: debug
      port: 5003
      protocol: TCP
      targetPort: 5005
      nodePort: 32003 # comment if ClusterIP
