apiVersion: apps/v1
kind: Deployment
metadata:
  name: superpay
  namespace: bookstore
  labels:
    app: superpay
spec:
  replicas: 1
  selector:
    matchLabels:
      app: superpay
  template:
    metadata:
      annotations:
        metrics.dynatrace.com/path: /stats/prometheus
        metrics.dynatrace.com/port: "15020"
        metrics.dynatrace.com/scrape: "true"
        metrics.dynatrace.com/secure: "false"
      namespace: bookstore
      labels:
        app: superpay
        app.kubernetes.io/version: 1.8.3
        app.kubernetes.io/part-of: BookStore
    spec:
      containers:
        - name: superpay
          image: ghcr.io/ihudak/dynapay-{AGENT}:{FLAVOR}
          ports:
            - containerPort: 8080
            - containerPort: 5005
          envFrom:
            - configMapRef:
                name: bookstore-configmap
            - secretRef:
                name: bookstore-secret
          env:
            - name: DT_RELEASE_VERSION
              valueFrom:
                fieldRef:
                  fieldPath: metadata.labels['app.kubernetes.io/version']
            - name: DT_RELEASE_BUILD_VERSION
              value: "2026-02-25-15:38:43"
            - name: DT_MYSQL_DBNAME
              value: dt_books_dynapays # DB NAME HERE
            - name: DT_PG_DBNAME
              value: none # DB NAME HERE
            - name:   AGENT
              valueFrom:
                configMapKeyRef:
                  name: bookstore-agents-configmap
                  key: dynapay_agent
            - name: SERVICE_NAME
              value: DynaPay
            - name: SERVICE_FULL_NAME
              value: "$(APP_NAME).$(SERVICE_NAME).$(SVC_SUFFIX)"
            - name: DT_TAGS
              value: "BookStore MicroService=BookStore.DynaPay"
            - name: DT_CUSTOM_PROP
              value: "custom.app.name=BookStore,custom.microservice.name=dynapay"
            - name: OTEL_RESOURCE_ATTRIBUTES
              value: "dt.security_circle=$(SECURITY_CIRCLE),dt.management_zone=$(MANAGEMENT_ZONE),dt.owner_team=$(OWNER_TEAM),dt.owner=$(OWNER),dt.cost.costcenter=$(COST_CENTER),dt.cost.product=$(COST_PRODUCT),my.resource.attribute=$(GIT_REPO)"
            - name: DT_SERVICE_NAME
              value: DynaPayController
            - name: DT_HOST_NAME_PREFIX
              value: superpay
          startupProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 10
            failureThreshold: 18
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            periodSeconds: 30
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8080
            periodSeconds: 10
            failureThreshold: 3
          resources:
            limits:
              cpu: 400m
              memory: 768Mi
            requests:
              cpu: 400m
              memory: 768Mi
---
apiVersion: v1
kind: Service
metadata:
  name: superpay-svc
  namespace: bookstore
spec:
  selector:
    app: superpay
  type: LoadBalancer # ClusterIP
  ports:
    - name: http
      port: 87
      protocol: TCP
      targetPort: 8080
      nodePort: 30007 # comment if ClusterIP
    - name: debug
      port: 5007
      protocol: TCP
      targetPort: 5005
      nodePort: 32007 # comment if ClusterIP
