apiVersion: apps/v1
kind: Deployment
metadata:
  name: orders
  namespace: bookstore
  labels:
    app: orders
spec:
  replicas: 1
  selector:
    matchLabels:
      app: orders
  template:
    metadata:
      annotations:
        metrics.dynatrace.com/path: /stats/prometheus
        metrics.dynatrace.com/port: "15020"
        metrics.dynatrace.com/scrape: "true"
        metrics.dynatrace.com/secure: "false"
      namespace: bookstore
      labels:
        app: orders
        app.kubernetes.io/version: 1.7.3
        app.kubernetes.io/part-of: BookStore
    spec:
      containers:
        - name: orders
          image: ghcr.io/ihudak/orders-{AGENT}:{FLAVOR}
          ports:
            - containerPort: 8080
            - containerPort: 5005
          envFrom:
            - configMapRef:
                name: bookstore-configmap
            - secretRef:
                name: bookstore-secret
          env:
            - name: DT_RELEASE_VERSION
              valueFrom:
                fieldRef:
                  fieldPath: metadata.labels['app.kubernetes.io/version']
            - name: DT_RELEASE_BUILD_VERSION
              value: "2025-08-04-15:38:43"
            - name: DT_MYSQL_DBNAME
              value: none # DB NAME HERE
            - name: DT_PG_DBNAME
              value: dt_books_orders # DB NAME HERE
            - name:   AGENT
              valueFrom:
                configMapKeyRef:
                  name: bookstore-agents-configmap
                  key: orders_agent
            - name: SERVICE_NAME
              value: Orders
            - name: SERVICE_FULL_NAME
              value: "$(APP_NAME).$(SERVICE_NAME).$(SVC_SUFFIX)"
            - name: DT_TAGS
              value: "BookStore MicroService=BookStore.Orders"
            - name: DT_CUSTOM_PROP
              value: "custom.app.name=BookStore,custom.microservice.name=orders"
            - name: OTEL_RESOURCE_ATTRIBUTES
              value: "dt.security_circle=$(SECURITY_CIRCLE),dt.management_zone=$(MANAGEMENT_ZONE),dt.owner_team=$(OWNER_TEAM),dt.owner=$(OWNER),dt.cost.costcenter=$(COST_CENTER),dt.cost.product=$(COST_PRODUCT),my.resource.attribute=$(GIT_REPO)"
            - name: DT_SERVICE_NAME
              value: OrderController
            - name: DT_HOST_NAME_PREFIX
              value: orders
            - name: JVM_XMX
              value: "768m"
          resources:
            limits:
              cpu: 550m
              memory: 1Gi
            requests:
              cpu: 550m
              memory: 1Gi
---
apiVersion: v1
kind: Service
metadata:
  name: orders-svc
  namespace: bookstore
spec:
  selector:
    app: orders
  type: LoadBalancer # ClusterIP
  ports:
    - name: http
      port: 85
      protocol: TCP
      targetPort: 8080
      nodePort: 30005 # comment if ClusterIP
    - name: debug
      port: 5005
      protocol: TCP
      targetPort: 5005
      nodePort: 32005 # comment if ClusterIP

