apiVersion: apps/v1
kind: Deployment
metadata:
  name: web
  namespace: bookstore
  labels:
    app: web
spec:
  replicas: 1
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      annotations:
        metrics.dynatrace.com/path: /stats/prometheus
        metrics.dynatrace.com/port: "15020"
        metrics.dynatrace.com/scrape: "true"
        metrics.dynatrace.com/secure: "false"
      namespace: bookstore
      labels:
        app: web
        app.kubernetes.io/version: 1.7.3
        app.kubernetes.io/part-of: BookStore
    spec:
      containers:
        - name: web
          image: ghcr.io/ihudak/web-noagent:latest
          ports:
            - containerPort: 4200
          envFrom:
            - configMapRef:
                name: bookstore-configmap
          env:
            - name: DT_RELEASE_VERSION
              valueFrom:
                fieldRef:
                  fieldPath: metadata.labels['app.kubernetes.io/version']
            - name: DT_RELEASE_BUILD_VERSION
              value: "2025-08-04-15:38:43"
            - name:   AGENT
              valueFrom:
                configMapKeyRef:
                  name: bookstore-agents-configmap
                  key: web_agent
          resources:
            limits:
              cpu: 500m
              memory: 1Gi
            requests:
              cpu: 500m
              memory: 1Gi
      initContainers:
        - name: versioncaller
          image: alpine:latest
          restartPolicy: Always
          envFrom:
            - configMapRef:
                name: bookstore-configmap
          resources:
            limits:
              cpu: 100m
              memory: 512Mi
            requests:
              cpu: 100m
              memory: 512Mi
          command:
            - sh
            - -c
            - |
              apk add --no-cache curl && \
              echo "Waiting for 360 seconds..." && \
              sleep 360 && \
              while true; do
                echo "$(date +"%Y-%m-%d-%H:%M:%S")"
                echo "Waiting for $VERCALL_TIMEOUT seconds..."
                sleep $VERCALL_TIMEOUT
                echo $(curl -s http://$DT_WEB_SERVER/versions)
                echo $(curl -s http://$DT_WEB_SERVER/clients)
                echo $(curl -s http://$DT_WEB_SERVER/books)
                echo $(curl -s http://$DT_WEB_SERVER/carts)
                echo $(curl -s http://$DT_WEB_SERVER/storage)
                echo $(curl -s http://$DT_WEB_SERVER/orders)
                echo $(curl -s http://$DT_WEB_SERVER/ratings)
                echo $(curl -s http://$DT_WEB_SERVER/configs)
                echo $(curl -s http://$DT_WEB_SERVER/ingest)
              done
---
apiVersion: v1
kind: Service
metadata:
  name: web-svc
  namespace: bookstore
spec:
  selector:
    app: web
  type: LoadBalancer # ClusterIP
  ports:
    - port: 90
      protocol: TCP
      targetPort: 4200
      nodePort: 30000 # comment if ClusterIP
