<div class="col-md-6 offset-md-3">
  <h3>Create Book</h3>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>ISBN</label>
      <input type="text" class="form-control" id="isbn" [(ngModel)] = "book.isbn" name="isbn">
    </div>
    <br>
    <div class="form-group">
      <label>Title</label>
      <input type="text" class="form-control" id="title" [(ngModel)] = "book.title" name="title">
    </div>
    <br>
    <div class="form-group">
      <label>Author</label>
      <input type="text" class="form-control" id="author" [(ngModel)] = "book.author" name="author">
    </div>
    <br>
    <div class="form-group">
      <label>Price</label>
      <input type="number" class="form-control" id="price" [(ngModel)] = "book.price" name="price">
    </div>
    <br>
    <div class="form-group">
      <label>Language</label>
      <input type="text" class="form-control" id="language" [(ngModel)] = "book.language" name="language">
    </div>
    <br>
    <div class="form-group">
      <label>OnVend</label>
      <input type="text" class="form-control" id="published" [(ngModel)] = "book.published" name="published">
    </div>

    <br>
    <button class="btn btn-success" type="submit">Submit</button>
  </form>
</div>
