<nav class="navbar navbar-expand-sm bg-primary navbar-dark sticky-top">
  <ul class="navbar-nav">
    <li class="nav-item">      <a routerLink="clients"       routerLinkActive="active" class="nav-link">Clients</a></li>
    <li class="nav-item">      <a routerLink="books"         routerLinkActive="active" class="nav-link">Books</a></li>
    <li class="nav-item">      <a routerLink="carts"         routerLinkActive="active" class="nav-link">Carts</a></li>
    <li class="nav-item">      <a routerLink="storage"       routerLinkActive="active" class="nav-link">Storage</a></li>
    <li class="nav-item">      <a routerLink="orders"        routerLinkActive="active" class="nav-link">Orders</a></li>
    <li class="nav-item">      <a routerLink="ratings"       routerLinkActive="active" class="nav-link">Ratings</a></li>
    <li class="nav-item">      <a routerLink="versions"      routerLinkActive="active" class="nav-link">Versions</a></li>
    <li class="nav-item">      <a routerLink="configs"       routerLinkActive="active" class="nav-link">Configs</a></li>
    <li class="nav-item">      <a routerLink="ingest"        routerLinkActive="active" class="nav-link">Ingest</a></li>
  </ul>
</nav>

<h1 class="text-center"> {{title}} </h1>
<div class="container">
  <router-outlet></router-outlet>
</div>
<br>
<br>
<br>
<br>
<footer class="footer position-fixed">
  <div class="container">
    <span>All Rights Reserved 2026 (C) Dynatrace. -= ver. {{buildVer}}, date: {{buildDate}}, tenant: {{tenantId}} =-</span>
  </div>
</footer>
